<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="mathCheat" class="com.dss.MathCheat"></bean>
<bean id="sceinceCheat" class="com.dss.SceinceCheat"></bean>
<bean id="anotherStudent" class="com.dss.AnotherStudent"></bean>


	<bean id="stu" class="com.dss.Student">
	<property name="cheat" ref="anotherStudent"/>
    </bean>
	

</beans>

